! {{{ X Font Settings.
! Xft.rgba:      rgb
! Xft.hinting:   true
! Xft.antialias: true
! Xft.lcdfilter: lcddefault
! Xft.hintstyle: hintfull
! Xft.autohint:  false

URxvt.font: \
 xft:DejaVu Sans Mono:size=9,\
 xft:Droid Sans Mono:size=9,\
 xft:Cardo:size=9,\
 xft:M+ 1m:size=9,\
 xft:Noto Sans Kannada:size=9,\
 xft:Noto Sans Georgian:size=9,\
 xft:Unifont:size=9,\
 xft:Quantico:size=9,\
 xft:Canadian Syllabics Fi:size=9
! }}}

! {{{ Jellybeans Colors.
! URxvt.background: #151516
URxvt.background: #121212
URxvt.foreground: #ffffff
! black
URxvt.color0: #1C1C1C
URxvt.color8: #404040
! red
URxvt.color1: #B85335
URxvt.color9: #CF6A4C
! green
URxvt.color2: #799D6A
URxvt.color10: #99AD6A
! yellow
URxvt.color3: #FFB964
URxvt.color11: #FAD07A
! blue
URxvt.color4: #667899
URxvt.color12: #8197BF
! magenta
URxvt.color5: #8787AF
URxvt.color13: #C6B6EE
! cyan
URxvt.color6: #668799
URxvt.color14: #8FBFDC
! white
URxvt.color7: #FFFFFF
URxvt.color15: #E8E8D3
!}}}
! {{{ rxvt-unicodec
URxvt.depth: 32
URxvt.scrollBar: false
URxvt.letterSpace: -1
URxvt.perl-ext-common: default,matcher,selection-to-clipboard,selection-pastebin
URxvt.url-launcher: xdg-open
URxvt.matcher.button: 1
URxvt.cursorUnderline: false
URxvt.urgentOnBell: true
URxvt.visualBell: false
URxvt.cursorBlink: true

! }}}
